ansible==2.2.0.0
celery==4.0.0
Django==1.10.3
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6.0
ipaddress==1.0.16
Jinja2==2.8
pyDes==2.0.1
PyMySQL==0.7.9
pytz==2016.7
redis==2.10.5
requests==2.12.1
ksc-sdk-python==1.1.1