{% extends 'base.html' %}
{% load staticfiles %}
{% load data_option_tags %}

{% block body %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Service列表
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">Service列表</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <form class="form-inline" action="javascript:void(0);" id="search_form" role="form" style="margin-bottom: 20px;">
                                  <div class="form-group">
                                    <label class="sr-only" for="id_kw">关键字</label>
                                    <input type="text" class="form-control fa fa-dashboard" id="id_kw" name="kw" placeholder="请输入关键字">
                                  </div>

                                  <div class="form-group">
                                    <label class="sr-only" for="area_select">机房</label>

                                    <select id="area_select" name="area" class="form-control">
                                      <option value="">机房-全部</option>
                                      {% data_option 'area' %}
                                    </select>
                                  </div>
                                  <button type="submit" id="search_submit" class="btn btn-default">搜索</button>
                                </form>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'service:add' %}'">添加</button>
                                <button type="button" class="btn btn-primary" id="batch_delete">删除</button>

                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example" class="display table table-bordered table-hover dataTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>操作</th>
                                        <th>状态</th>
                                        <th>名称</th>
                                        <th>主机名</th>
                                        <th>地域</th>
                                        <th>镜像名称</th>
                                        <th>所属GRID</th>
                                        <th>创建时间</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">日志</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="clear_log">清空日志</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script src="{% static "admin_lte/plugins/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "admin_lte/plugins/datatables/dataTables.bootstrap.min.js"%}"></script>
    <script>
    function format ( d ) {
        // `d` is the original data object for the row
        var null_val = "暂无";
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>安装日志</td>'+
                '<td><button class="btn btn-default btn_view_log" type="button" data-type="install_log" data-id="'+d.id+'">点击查看</button></td>'+
                '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>'+
                '<td>运行日志</td>'+
                '<td><button class="btn btn-default btn_view_log" type="button" data-type="run_log" data-id="'+d.id+'">点击查看</button></td>'+
            '</tr>'+
        '</table>';
    }
        $(function(){
            var $table = $("#example");
            var table = $table.DataTable({
                "bFilter": false,//去掉搜索框
                //"bAutoWidth": true, //自适应宽度
                "sPaginationType" : "full_numbers",
                //"sAjaxDataProp" : "aData",
                "bDestroy" : true,
                "bProcessing" : true,
                "iDisplayLength": 10,
                "sAjaxSource" : "{% url 'service:page' %}",
                "bServerSide" : true,
                "columns" : [
                    {   'data': null,"searchable": false,
                        "orderable": false},
                    {   'data': 'id',
                        "render": function(data, type, row, meta) {
                            return "<button class='btn btn-default server-update' type='button' data-id='"+data+"'><i class='fa fa-edit'></i></button>" +
                                    "&nbsp;&nbsp;<button class='btn btn-default server-delete' type='button' data-id='"+data+"'><i class='fa fa-trash-o'></i></button>"
                        }
                    },
                     // 启动停止服务
                    {   'data': 'state',
                        "render": function(data, type, row, meta) {
                            var s_stop = "<button class='btn btn-default service-stop' type='button' data-id='"+row.id+"'><i class='fa fa-stop'></i></button>"+'&nbsp';
                            var s_start = "<button class='btn btn-default service-start' type='button' data-id='"+row.id+"'><i class='fa fa-play'></i></button>"+'&nbsp';
                            if(!row.config_path && (row.image && !row.image.config_path)){
                                s_stop = '';
                                s_start = '';
                            }
                            var state_str = '';
                            switch(data){
                                // TODO 重新部署
                                case 0:  state_str = "正在部署"; break;
                                case -1: state_str = '部署失败'; break;
                                case 1:  state_str = s_start + '部署成功'; break;
                                case 2:  state_str = '正在启动'; break;
                                case 3:  state_str = '正在停止'; break;
                                case 4:  state_str = s_start + '已停止';   break;
                                case 5:  state_str = s_stop + '运行中';   break;
                            }
                            return state_str;
                        }
                    },

                    { 'data': 'name', 'class': 'details-control',
                        'render': function(data, type, row, meta){
                            return data + '&nbsp;&nbsp;<i class="fa fa-commenting" aria-hidden="true"></i>';
                        }
                    },
                    {   'data': 'server',
                        "render": function(data, type, row, meta) {
                            if(data){
                                return '<a href="{% url 'server:index' %}?kw='+data.InstanceName+'">'+data.InstanceName+'</a>';
                            }
                            return "—"
                        }
                    },
                    { 'data': 'server',
                        "render": function(data, type, row, meta) {
                            if(data){
                                if(data.server_location){
                                    return data.RegionId + " (" + data.server_location + ")";
                                }else{
                                    return data.RegionId;
                                }
                            }
                            return "—"
                        }
                    },
                    {   'data': null,
                        "render": function(data, type, row, meta) {
                            return row.service_name + '--' + row.version
                        }
                    },
                    {   'data': 'grid',
                        "render": function(data, type, row, meta) {
                            if(data){
                                return data.name;
                            }
                            return "—"
                        }
                    },
                    { 'data': 'create_time'},
                    { 'data': 'remark', visible:false}
                ],
                "columnDefs": [],
                "order": [[ 8, 'desc' ]],

                "oLanguage" : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    //"sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
            });
            // 选中操作
            table.on( 'click', 'tr[role="row"]', function () {
                $(this).toggleClass('selected')
                        .siblings().removeClass('selected');
            } );
            // 添加序号
            table.on( 'order.dt search.dt', function () {
                table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();


            function batch_delete(server_ids){
                simple_ajax({
                    url: "{% url 'service:remove' %}",
                    data:{"id": server_ids},
                    success:function(data){
                        if(data.result == true){
                            table.ajax.reload()
                        }else{
                            alert("删除失败！" + data.message)
                        }
                    }
                })
            }

            $("#batch_delete").click(function(){
                var datas = table.rows('.selected').data();
                var length = datas.length;
                if(length > 0){
                    if(confirm("您确定要卸载这" + length + "个Service吗？")){
                        var server_ids = [];
                        for(i=0; i<length; i++){
                            server_ids.push(datas[i].id);
                        }
                        batch_delete(server_ids)
                    }
                }else{
                    alert('请至少选择一个Service');
                }
            });
            $table.delegate('.server-delete', 'click', function(){
                if(confirm("您确定要卸载该Server吗？")){
                    batch_delete([$(this).attr("data-id")]);
                }
            });
            $table.delegate('.server-update', 'click', function(){
                window.open('/service/update_config/' + $(this).attr("data-id") + '/');
            });
            $("#search_form").submit(function(){
                var search_query = $(this).serialize();
                table.ajax.url("{% url 'service:page' %}?" + search_query).load();
                return false;
            });

            $table.delegate('.service-stop', 'click',function(){
                var s_id = $(this).attr("data-id");
                $(this).parent("td").html("正在停止");
                simple_ajax({
                    url: "{% url 'service:ser_stop' %}",
                    data:{"id": s_id},
                    success:function(data){
                        if(data.result == false){
                            alert(data.message)
                        }
                        table.ajax.reload()
                    }
                })
            });

            $table.delegate('.service-start', 'click',function(){
                var s_id = $(this).attr("data-id");
                $(this).parent("td").html("正在启动");
                simple_ajax({
                    url: "{% url 'service:ser_start' %}",
                    data:{"id": s_id},
                    success:function(data){
                        if(data.result == false){
                            alert(data.message)
                        }
                        table.ajax.reload()
                    }
                })
            });

            $table.find("tbody").on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );
            var $modal = $("#myModal");
            var $clear_log = $("#clear_log");
            $table.delegate('.btn_view_log', 'click', function(){
                var $this = $(this);
                var id = $this.attr("data-id");
                var type = $this.attr("data-type");
                simple_ajax({
                    url: '{% url 'service:view_log' %}',
                    data: {
                        srv_id: id,
                        type: type
                    },
                    success: function(data){
                        if(data.result == true) {
                            var message = '';
                            if(type == 'install_log'){
                                message = draw_install_log(data);
                            }else{
                                message = draw_run_log(data);
                            }

                            $modal.find(".modal-body").html(message);
                            $clear_log.attr('data-id', id).attr("data-type", type);
                            $modal.modal('show');
                        }else{
                            alert(data.message);
                        }
                    }
                })
            });
            $clear_log.click(function(){
                var $this = $(this);
                var id = $this.attr("data-id");
                var type = $this.attr("data-type");
                simple_ajax({
                    url: '{% url 'service:clear_log' %}',
                    data: {
                        srv_id: id,
                        type: type
                    },
                    success: function(data){
                        if(data.result == true){
                            $modal.find(".modal-body").html('');
                            $clear_log.removeAttr('data-id').removeAttr("data-type");
                            $modal.modal('hide');
                        }else{
                            alert(data.message);
                        }

                    }
                })
            });

            setInterval(function(){
                table.ajax.reload();
            }, 30 * 1000);

        })
    function draw_install_log(data){
        if(data.message){
            var m = $.parseJSON(data.message);
            var log = '<ul>';
            var flag = true;
            if(m){
                $.each(m['task_order'], function(i, task_name){
                    var task_log = '<li>' +
                            task_name + '<br>';
                    if(m[task_name]['status'] != 'ok'){
                        flag = false;
                    }
                    if(m[task_name]['status'] == 'unreachable'){
                        log += "无法连接到目标服务器!" + m[task_name]['result']['msg'];
                        return false;
                    }
                    if(task_name.indexOf('libselinux-python') > 0){
                        // 校验libselinux-python是否已安装任务
                        task_log += m[task_name]['result']['results'].join('<br>');
                    }else if(task_name.indexOf("copy") == 0){
                        // 拷贝文件任务
                        if(m[task_name]['status'] == 'ok'){
                            task_log += '拷贝成功!';
                        }else{
                            task_log += '拷贝失败!' + m[task_name]['result']['msg'];
                        }
                    }else if(task_name.indexOf('Install') == 0){
                        // 执行安装任务
                        if(m[task_name]['status'] == 'ok'){
                            task_log += '执行成功!<br>' + m[task_name]['result']['stdout_lines'].join('<br>');
                        }else{
                            task_log += '执行失败!<br>' + m[task_name]['result']['msg'];
                        }
                    }
                    task_log += '</li>';
                    log += task_log;
                });
            }
            log += '</ul><hr>';
            if(data['state'] == 0){
                log += "正在安装。。。";
            }else if(data['state'] >= 1){
                log += "安装成功!";
            }else if(data['state'] == -1){
                log += "安装失败!";
            }
        }else{
            log = '暂无日志';
        }
        return log;
    }
    function draw_run_log(data){
        var log = data.message.replace(/\n/g, '<br>');
        log += "<hr>";
        switch(data.state){
            case 2: log += '正在启动';break;
            case 3: log += '正在停止';break;
            case 4: log += '已停止';break;
            case 5: log += '运行中';break;
            default:log += '未运行';break;
        }
        return log;
    }
    </script>
{% endblock %}
