{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}配置管理系统_V1.0.0{% endblock %}
{% block css %}

{% endblock %}

{% block body %}


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% if domain %}更新{% else %}添加{% endif %}域名-IP映射
{#                    <small>控制面板</small>#}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li><a href="{% url 'server:domain_index' %}"><i class="fa fa-server"></i> 域名-IP列表</a></li>
                    <li class="active">添加域名-IP映射</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            {% comment %}<div class="box-header">
                                <h3 class="box-title">Server</h3>
                                <button type="button" id="button">点击获取</button>

                            </div>{% endcomment %}<!-- /.box-header -->
                            <div class="box-body">
                                <div id="tips">
                                {% if message and message.result == False %}
                                <div class="alert alert-danger"><strong>添加失败：</strong>{{ message.message }}</div>
                                {% endif %}
                                </div>
                                <form id="server_form" class="form-horizontal" role="form" action="{% if domain %}{% url 'server:domain_update' dmn_id=domain.id %}{% else %}{% url 'server:domain_add' %}{% endif %}" method="post" onsubmit="return validate()">
                                    <input id="id_id" name="id" type="hidden" value="{{ domain.id }}"/>
                                    <input name="type" type="hidden" value="{% if domain %}update{% else %}add{% endif %}"/>
                                    {% csrf_token %}
                                  <div class="form-group">
                                    <label for="id_domain" class="col-sm-2 control-label">域名</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="id_domain" name="domain" placeholder="域名" required
                                             value="{% if domain %}{{ domain.domain }}{% else %}{% if message %}{{ message.data.domain }}{% endif %}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="id_category" class="col-sm-2 control-label">IP类型</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="category" id="id_category" {% if domain %} readonly{% endif %}>
                                            {% if domain %}
                                                <option value="{{ domain.category }}">{% if domain.category == 0 %}内网IP{% else %}外网IP{% endif %}</option>
                                            {% else %}
                                                <option value="0" {% if message.data.category == 0 %} selected{% endif %}>内网IP</option>
                                                <option value="1" {% if message.data.category == 1 %} selected{% endif %}>外网IP</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                  </div>
                                    <div class="form-group">
                                    <label for="id_ip" class="col-sm-2 control-label">IP地址</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="id_ip" name="ip" placeholder="IP地址"
                                             value="{% if domain %}{{ domain.ip }}{% else %}{% if message %}{{ message.data.ip }}{% endif %}{% endif %}" required {% if domain %} readonly{% endif %}>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="id_remark" class="col-sm-2 control-label">备注</label>
                                    <div class="col-sm-10">
                                      <textarea id="id_remark" class="form-control" rows="3" name="remark">{% if domain %}{{ domain.remark }}{% else %}{% if message %}{{ message.data.remark }}{% endif %}{% endif %}</textarea>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" class="btn btn-primary">{% if domain %}更新{% else %}添加{% endif %}域名-IP映射</button>
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
{% endblock %}
{% block script %}
    <script>
    function validate(){

    }
    </script>
{% endblock %}
