{% extends 'base.html' %}
{% load staticfiles %}
{% load data_option_tags %}

{% block body %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Server列表
{#                    <small>控制面板</small>#}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">Server列表</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <form class="form-inline" action="javascript:void(0);" id="search_form" role="form" style="margin-bottom: 20px;">
                                  <div class="form-group">
                                    <label class="sr-only" for="id_kw">关键字</label>
                                    <input type="text" class="form-control fa fa-dashboard" id="id_kw" name="kw" value="{{ kw }}" placeholder="请输入关键字">
                                  </div>

                                  <div class="form-group">
                                    <label class="sr-only" for="area_select">机房</label>

                                    <select id="area_select" name="area" class="form-control">
                                      <option value="">机房-全部</option>
                                      {% data_option 'area' %}
                                    </select>
                                  </div>
                                  <button type="submit" id="search_submit" class="btn btn-default">搜索</button>
                                </form>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'server:add' %}'">添加</button>
                                <button type="button" class="btn btn-primary" id="batch_delete">删除</button>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'server:upload' %}'">导入</button>

                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example" class="display table table-bordered table-hover dataTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>操作</th>
                                        <th>名称</th>
                                        <th>主机名</th>
                                        <th>内网IP</th>
                                        <th>外网IP</th>
                                        <th>机房</th>
                                        <th>域名</th>
                                        <th>连接状态</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">主机连接日志</h4>
      </div>
      <div class="modal-body" id="log_content">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="connect_again">重新连接</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script src="{% static "admin_lte/plugins/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "admin_lte/plugins/datatables/dataTables.bootstrap.min.js"%}"></script>
    <script>
    function format ( d ) {
        // `d` is the original data object for the row
        var null_val = "暂无";
        var ss =  '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>ServerID：</td>'+
                '<td>'+(d.server_id?d.server_id:null_val)+'</td>'+
                '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>'+
                '<td>操作系统：</td>'+
                '<td>'+(d.os?d.os:null_val)+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>内存：</td>'+
                '<td>'+(d.memory?d.memory:null_val)+'</td>'+
                '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>'+
                '<td>带宽：</td>'+
                '<td>'+(d.bandwidth?d.bandwidth:null_val)+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>机架：</td>'+
                '<td>'+(d.rack?d.rack:null_val)+'</td>'+
                '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>'+
                '<td>端口号：</td>'+
                '<td>'+d.port+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>用户名：</td>'+
                '<td>'+(d.user?d.user:null_val)+'</td>'+
                '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>'+
                '<td>创建时间：</td>'+
                '<td>'+d.create_time+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>备注：</td>'+
                '<td colspan="4">'+(d.remark?d.remark:null_val)+'</td>'+
            '</tr>'+
        '</table>';
        return ss;
    }
        $(function(){
            var $table = $("#example");
            var table = $table.DataTable({
                "bFilter": false,//去掉搜索框
                //"bAutoWidth": true, //自适应宽度
                "sPaginationType" : "full_numbers",
                //"sAjaxDataProp" : "aData",
                "bDestroy" : true,
                "bProcessing" : true,
                "iDisplayLength": 10,
                "sAjaxSource" : "{% url 'server:page' %}?" + $("#search_form").serialize(),
                "bServerSide" : true,
                "columns" : [
                    { 'data': null},
                    { 'data': 'id', "bSortable":false },
                    {
                        "class":          'details-control',
                        "data":           'name',
                        "render": function(data, type, row, meta){
                            return data + '&nbsp;&nbsp;<i class="fa fa-commenting" aria-hidden="true"></i>';
                        }
                    },
                    { "data" : "hostname" },
                    { "data" : "inner_ip" },
                    { "data" : "outer_ip" },
                    { "data" : "area" },
                    { "data" : "domain"},
                    { "data" : "connect"}
                ],
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets":0
                         // "visible": false,
                    },
                    {
                        "targets": 1,//操作
                        "render": function(data, type, row, meta) {
                            //渲染 把数据源中的标题和url组成超链接
                            return "<button class='btn btn-default server-update' type='button' data-id='"+data+"'><i class='fa fa-edit'></i></button>" +
                                    "&nbsp;&nbsp;<button class='btn btn-default server-delete' type='button' data-id='"+data+"'><i class='fa fa-trash-o'></i></button>"
                        }
                    },
                    {
                        "render": function(data, type, row, meta) {
                            var s = '&nbsp;&nbsp;<i class="fa fa-file-text-o log" style="cursor:pointer;" data-id="'+row.id+'"></i>';
                            switch(data){
                            case 0: return "未连接" +s;
                            case -1: return "连接失败"+s;
                            case 1: return "正在连接"+s;
                            case 2: return "已连接"+s;
                            }
                        },
                        //
                        "targets": -1
                    }
                ],
                "order": [[ 2, 'asc' ]],

                "oLanguage" : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    //"sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
            });
            // 选中操作
            table.on( 'click', 'tr[role="row"]', function () {
                $(this).toggleClass('selected');
            } );
            // 添加序号
            table.on( 'order.dt search.dt', function () {
                table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

            $table.find("tbody").on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );


            function batch_delete(server_ids){
                simple_ajax({
                    url: "{% url 'server:remove' %}",
                    data:{"id": server_ids},
                    success:function(data){
                        if(data.result == true){
                            table.ajax.reload()
                        }else{
                            alert("删除失败！" + data.message)
                        }
                    }
                })
            }

            $("#batch_delete").click(function(){
                // console.log(table.rows('.selected').data())
                var datas = table.rows('.selected').data();
                var length = datas.length;
                if(length > 0){
                    if(confirm("您确定要删除这" + length + "个Server吗？")){
                        var server_ids = [];
                        for(i=0; i<length; i++){
                            server_ids.push(datas[i].id);
                        }
                        batch_delete(server_ids)
                    }
                }else{
                    alert('请至少选择一个Server');
                }
            });
            $table.delegate('.server-delete', 'click', function(){
                if(confirm("您确定要删除该Server吗？")){
                    batch_delete([$(this).attr("data-id")]);
                }
                return false;
            });
            $table.delegate('.server-update', 'click', function(){
                window.location.href = '/server/update/' + $(this).attr("data-id") + '/';
            });

            var $myModal = $("#myModal");
            var $connect_again = $("#connect_again");
            $table.delegate('i.log', 'click', function(){
                var id = $(this).attr("data-id");
                simple_ajax({
                    url: '{% url 'server:view_log' srv_id='99999' %}'.replace('99999', id),
                    success: function(data){
                        var message = data.message || '暂无日志';
                        message = message.replace(/\n/g, '<br>').replace(/\s{2}/g, '&nbsp;&nbsp;');
                        if(data.result == true){
                            $("#log_content").html(message);
                            $connect_again.attr("data-id", id).html("重新连接").attr("disabled", false);
                            $myModal.modal('show');
                        }else{
                            alert("网络发生异常，请重试！");
                        }
                    }
                });
                return false;
            });
            $connect_again.click(function(){
                var id = $(this).attr("data-id");
                $connect_again.html("正在重连").attr("disabled", true);
                simple_ajax({
                    url: '{% url 'server:connect' srv_id='99999' %}'.replace('99999', id),
                    success: function(data){
                        var message = data.message || '暂无日志';
                        message = message.replace(/\n/g, '<br>').replace(/\s{2}/g, '&nbsp;&nbsp;');
                        if(data.result == true){
                            $("#log_content").html(message + '<div class="alert alert-success">连接成功！</div>');
                            table.ajax.reload();
                        }else{
                            $("#log_content").html(message + '<div class="alert alert-success">连接失败！</div>');
                        }
                        $connect_again.html("重新连接").attr("disabled", false);
                    }
                })
            });
            $("#search_form").submit(function(){
                var search_query = $(this).serialize();
                table.ajax.url("{% url 'server:page' %}?" + search_query).load();
                return false;
            });
        })
    </script>
{% endblock %}
